
div{
	width: 400px;
margin: 100px auto;
}
.questionblock
{
	<!--background-color:grey;-->
}
.chg{
	float:right;
	margin-top: 80px;
}
img{
	height:50px;
	weight:50px;
}
.topalign
{
	vertical-align: top;
}
.makehidden{
	display: none;
}