
div.one{
	display: inline-block;
	margin: 25px auto;
	background-color:white;
	border-style: double;
	border-width: 15px;
	padding:25px;
	}
div.two{
display: inline-block;
	margin: 25px auto;
	background-color:white;
	border-style: double;
    border-width: 15px;
	padding:25px;

	}
.center{
	width: 400px;
	margin-right:auto;
	margin-left:auto;
	text-align:center;
}
.questionblock
{
	text-align:left;
}
.chg{
	float:right;
	margin-top: 0px;
}
img{
	height:50px;
	width:50px;
}
.topalign
{
	vertical-align: top;
}
.makehidden{
	display: none;
}
.tab{
	margin-left:30px;
}
.f{
	height: 250px;
	width:400px;
}
.f2{
	-moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}
.sw{
	width:400px;
	text-align:center;
}
.heffect:hover{
	background-color:black;
	color:white;
}
body
{
	background-image: url("snowball.png");
	text-align:center;
}
h1{
	font-size: 50px;
	font-family:impact;
}
table
{
	margin-right:auto;
	margin-left:auto;
}