p{
	font-family: verdana;
}
img{
	margin: 0 auto;
	height:100px;
}
body{
	margin:0;
	text-align:center;
}
h1 {
	text-align:center;
	font-size: 75px;
	margin-bottom:5px;
	margin-top:20px;
}
h2 {
	text-align:center;
	font-size: 60px;
}

table.visuals{
	background-color:black;
	font-size: 43px;
	margin-right:-100px;
	float:left;
	width:10px;
	}
	
td.visuals{
	height:30px;
	padding-bottom:8px;
	background-color:orange;
	border-left: 20px solid #2874A6    ;
	border-right: 20px solid #2874A6    ;
	}
td.top{
	background-color:orange;
	border-left: 20px solid #2874A6    ;
	border-right: 20px solid #2874A6    ;
	border-top: 20px solid #2874A6    ;
	height:26px;

	margin-bottom:0;
	}
td.bottom{
	background-color:orange;
	border-left: 20px solid #2874A6    ;
	border-right: 20px solid #2874A6    ;
	border-bottom: 20px solid #2874A6    ;

	height:26px;
	margin-top:0;
	}
	

table.game{
	background-color:black;
	font-size: 35px;
    margin-left:auto; 
    margin-right:auto;
}
th.game{
	color:white;
	text-align:center;
	background-color:blue;
	padding:10px;
	border: 10px solid black;
	font-size: 25px;

}
td.game{	
	color:yellow;
	text-align:center;
    font-weight: 900;
	background-color:Navy ;
	border: 10px solid black;
	border-bottom: 3px solid black;
	border-top: 3px solid black;
}
td.lastRow{
	color:yellow;
	text-align:center;
    font-weight: 900;
	background-color:Navy ;
	border: 10px solid black;
	border-bottom: 6px solid black;
	border-top: 6px solid black;
}





.fLeft{
	float: left;
	margin: 10px;
	margin-bottom:0px;
	margin-top:1px;
	padding-bottom:0px;
	text-align:right;
}
.fLeftb{
	float: left;
	margin-top:10px;
	margin-bottom:5px;
	margin-left: 50px;
}
.rmargin{
	margin:0px;
	margin-top:3px;
	margin-left:3px;
}
.dwidth{
	width:100px;
}
div.score{
	height:85px;
	width: 240px;
	border-style: double;
	
}
div.allscores{
	width:1235px;
	height:150px;
	margin-left:auto; 
    margin-right:auto;
}


div.one{
		background-color:#FF4141;
}
div.two{
		background-color:lime;
}
div.three{
		background-color:cyan;
}
div.four{
		background-color:yellow;
}
.money{
    font-size: 31px;
}
.name{
    font-size: 15px;
}
.iSize{
	margin-left:5px;
	font-size: 31px;
}


input.q{
	position:relative;
	height:58px;
	width:135px;
	color:yellow;
	background-color:navy;
	font-weight: 900;
	font-size: 30px;
	padding-bottom:40px;
	padding-top:6px;

}
input:hover {
    background-color: white; 
    color: black;
}
.cell{
		position:relative;
}
.check{
	position:absolute;
    right:0px;
    top:0px;

}

ul.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
	height:30px;
}
li.navE {
    float: left;
	margin-top:-8px;
	}
li.navE a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
div.b{
	visibility:hidden;
}

#a:hover + #b {
	visibility:visible;
    /*background: #ccc*/
}
#container {
    position:relative;
    height:415px;
    width:99.29%;
    border:thick solid black;
	background-color:grey;
}
#container div {
    background:grey;
}
#left {
    position:absolute;
    left:0px;
    bottom:0px;
}
#center {
    position:relative;
    margin-left:auto; 
    margin-right:auto;
    top:0px;
}
#right {
    position:absolute;
    right:0px;
    bottom:0px;
	margin-right:50px;

}

