
head
{
	
}
body 
{
	background-image: url("bg1.png");
	font-family: verdana;
}
img
{
height: 450px;
width: 350px;	

display: block;
margin: 0 auto;

}
h1
{
	text-align: center;
}
h2
{
    text-align: center;
}
a:hover {
    color: green;
}
.bio span
{
	color:red;
	font-weight: bold;
}
p
{
}
ul
{
}
p
{
}
p
{
}
div
{
	display: inline;   
	color:red;
	border-style: double;
	background-color:black;
}
table {
	border: 0;
	border-collapse: collapse;
    width: 80%;
}

th, td {
    text-align: center;
    padding: 8px;
}
tr:nth-child(even){background-color: #a0a0a0}
tr:nth-child(odd){background-color: #ffffff}
tr:nth-child(1){font-weight: bold;}

